body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.blocks {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 50px);
    grid-auto-rows: 50px;
    gap: 10px;
    justify-content: center;
}
.block {
    width: 100%;
    height: 100%;
    background-color: #3e5df3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.button {
    margin: 50px auto 0 auto;
    width: 200px;
    height: 50px;
    background-color: #3e5df3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animate {
    animation: rotateBlock 2s ease-in-out forwards;
}

@keyframes rotateBlock {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(180deg);
    }
}

  